<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

  <connectionStrings>
    <!--<add name="sitedb" connectionString="Data Source=JOSE;Initial Catalog=site2;Integrated Security=True" />-->
    <!--<add name="sitedb" connectionString="server=WIN-0KMF4V7B9D2;Integrated Security=False;Database=NodoCentral;uid=sa;pwd=P@ssw0rd;"/>-->
    <!--<add name="sitedb" connectionString="server=WIN-BITFUGV3K1J;Integrated Security=False;Database=Site1;uid=sa;pwd=P@ssw0rd;"/>-->
    <add name="sitedb" connectionString="Data Source=DESKTOP-4J15SSJ\JOSE7198;Initial Catalog=NodoCentral;Integrated Security=True"/>
    <!--<add name="sitedb" connectionString="server=WIN-CQOPMR3DP4K;Integrated Security=False;Database=NodoCentral;uid=sa;pwd=P@ssw0rd;"/>-->
  </connectionStrings>

</configuration>